.title {
    text-align: center;
    font-size: 36px;
}
.task {
    font-family: sans-serif;
    width: 50%;
    margin: 0 auto;
    background-color: #F7F7F9;
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 3px 3px #ccc;
}