.container {
    position: absolute;
    bottom: 200px;
    left: 1200px;
    width: 200px;
    text-align: center;
    border: 1px solid red;
}
.selected {
    background-color: white;
    padding: 1px 5px;
    color: black;
}