<div class="title">
  <p>{{title | uppercase}}</p>
</div>
<nav class="navigation">
  <a routerLink="/todo" [class.selected]="direction == 'todo'" (click)="changeDirection('todo')" >Tasks</a>
  &nbsp;
  <!-- <a routerLink="/done" [class.selected]="direction == 'done'" (click)="changeDirection('done')">Completed tasks</a>
  &nbsp;> -->
  <a routerLink="/pomodoro" [class.selected]="direction == 'pomodoro'" (click)="changeDirection('pomodoro')">Pomodoro</a>   
</nav>
<!-- <router-outlet></router-outlet> -->
<app-messages></app-messages>
